:root {
  --primary-color: rgb(13, 146, 241);
  --secondary-color: rgb(104, 241, 207);
  --third-color: rgb(224, 140, 231);
  --gradient: linear-gradient(
    106.8deg,
    rgb(117, 255, 220) 6%,
    rgb(163, 216, 255) 47.6%,
    rgb(248, 215, 251) 87.8%
  );
  --box-shadow: 5px 5px 10px rgb(30, 50, 120);
}

body {
  font-family: "Laila", sans-serif;
  max-width: 900px;
  padding: 0 20px;
  background: var(--gradient);
  margin: 50px auto;
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
  opacity: 0.2px;
}

.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.links a {
  margin: 30px;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.contact-link:hover {
  background: var(--third-color);
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  color: white;
}

.about-link:hover {
  background: var(--third-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  display: block;
}

.homepage-link:hover {
  color: var(--third-color);
}
.about-paragraph {
  margin: 30px 0;
}

.about-paragraph p {
  margin: 15px;
}

.first-link {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background: var(--third-color);
  text-transform: capitalize;
  color: var(--primary-color);
}

.second-link {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background: var(--third-color);
  text-transform: capitalize;
  color: var(--primary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
}

.email-link:hover {
  text-decoration: underline;
  color: var(--third-color);
}
